ion-header {
  > ion-toolbar {
    > ion-title {
    }
  }
}

ion-content {
  > div.container-list-button {
    > div.wrapper-button {
      margin: 1rem 0;

      > button {
        min-width: 12rem;
        min-height: 3.2rem;

        > span.mat-button-wrapper {
          font-size: 1rem;
          letter-spacing: 0.1px;
        }
      }
    }
  }
}
