<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dialog Example</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="wrapper-component">
    <app-dialog-content-example></app-dialog-content-example>
  </div>
  <div class="wrapper-component">
    <app-dialog-data-example></app-dialog-data-example>
  </div>
  <div class="wrapper-component">
    <app-dialog-elements-example></app-dialog-elements-example>
  </div>
  <div class="wrapper-component">
    <app-dialog-from-menu-example></app-dialog-from-menu-example>
  </div>
  <div class="wrapper-component">
    <app-dialog-overview-example></app-dialog-overview-example>
  </div>
</ion-content>